@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #1f242d;
}
html{
    scroll-behavior: smooth;
}
a{
    color:#fff;
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 30px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a,
.navbar ul li.active a{
    color: #7cf03d;
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
}
/*.home-info h2 span{
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 7px #7cf03d;
    animation: stylish-display;
    animation-delay: calc(-4s * var(--i));
}

@keyframes stylish-display{
    25%,100%{
        display: none;
    }
}
.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    border-right:2px solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite; 
}
@keyframes fill-text{
    10%,
    100% {
        width: 0;
    }
    70%, 
    90%{
        width: 100%;
    }
}
*/


.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;   
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}
.btn:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}
.home-info .btn-sci .sci{
    margin-left: 20px;
}

.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
}
.home-info .btn-sci .sci a:hover{
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}


.home-img .img-box{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #7cf03d;
    box-shadow: 0 0 15px #406ab8;
    margin: auto;

}
.home-img .img-box .img-item{
    width: 100%;
    height: 100%;

}
.home-img .img-box .img-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.about-img img{
        width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #7cf03d;
    box-shadow: 0 0 15px #406ab8;
    margin: auto;

}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h2 span{
    color: #7cf03d;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 16px;
    margin: 2rem 0 3rem;
    color: #fff;
}

.head{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.head span{
    color: #7cf03d;
}
.intrest-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;

}
.intrest-container .intrest-box{
    padding: 3rem 2.5rem;
    background: #1f242d;
    border: 2rem solid #7cf03d;
    border-radius: 1rem;
    
}
.intrest-box .icon i{
    font-size: 4.5rem;

}
.intrest-box .icon a{
    display: inline-flex;
    background: #1f242d;
    border-radius: 50%;
    padding: 1rem;
}


/* --project section--*/
.projets{
    padding: 10rem 9% 2rem;
    position: absolute;
    width: 100%;

}
.heads{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.heads span{
    color: #7cf03d;
}
.projects .about-content{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.projects .about-content span{
    color: #7cf03d;
}

.school{
    padding: 10rem 9% 2rem;
    position: absolute;
    width: 100%;
}
.school .heading{
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 2rem;
}
.school .heading .h2 span{
    color: #7cf03d;
}
.school .about-content span{
    color: #7cf03d;
}

.contact .heading span{
    color: #7cf03d;
}